.body{
    height: 100%;
}

h1 {
    padding-top: 10vh;
    display: flex;
    color: black;
    justify-content: center;
    font-size: 100px;
}

.btn {
    display: block;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    background-color: mediumslateblue;
    border-radius: 50%;
    font-weight: bold;
} 

.btn:hover {background-color: indigo;}